.cta {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 10rem;
  width: 70rem;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: translate(55%, 50%);
  border-radius: 2rem;

  & .btn--cta {
    margin-top: 3rem;
    font-size: 2rem;
  }

  @media only screen and (max-width: 25em) {
    width: 95%;
    padding: 4rem 2rem;
    text-align: center;
    transform: translate(2.5%, 50%);

    & .btn--cta {
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-size: 1.4rem;
      padding: 1.5rem 4.5rem;
    }
  }
}
