.header {
  height: 85vh;
  background-image: url('/images/bg-hero-desktop.svg');
  background-color: var(--very-pale-cyan);
  background-size: cover;
  padding: 6rem 8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;

  &__logo-box {
    display: flex;
    align-items: flex-start;
    height: 10rem;
  }

  & .logo {
    width: 20rem;
    margin-right: auto;
  }

  @media only screen and (max-width: 25em) {
    height: 100%;
    padding: 0 1.5rem 5rem 1.5rem;
    align-items: center;
    background-image: url('/images/bg-hero-mobile.svg');

    & .logo {
      width: 12rem;
    }

    &__logo-box {
      align-items: center;
    }
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  align-items: center;

  &__text-box {
    width: 80%;

    & p {
      margin: 3rem 0 4rem 0;
      color: var(--very-dark-cyan);
    }
  }

  @media only screen and (max-width: 25em) {
    grid-template-columns: 1fr;
    text-align: center;

    &__text-box {
      margin-top: 6rem;
      width: 100%;

      & p {
        margin: 3rem auto 4rem auto;
        width: 90%;
        font-size: 2rem;
      }
    }
  }
}
